<class name="org.wso2.apim.policies.mediation.ai.semantic.prompt.guard.SemanticPromptGuard">
    <property action="set" name="name" value="{{name}}"/>
    <property action="set" name="rules" value="{{rules}}"/>
    <property action="set" name="threshold" type="INTEGER" value="{{threshold}}"/>
    <property action="set" name="jsonPath" value="{{jsonPath}}"/>
    <property action="set" name="showAssessment" type="BOOLEAN" value="{{showAssessment}}"/>
</class>