<class name="org.wso2.apim.policies.mediation.ai.cbr.ContentBasedModelRouter">
    <property action="set" name="contentBasedModelRoutingConfigs" value="{{contentBasedModelRoutingConfigs}}"/>
</class>
