<class name="org.wso2.apim.policies.mediation.ai.regex.guardrail.RegexGuardrail">
    <property action="set" name="regex" value="{{regex}}"/>
    <property action="set" name="jsonPath" value="{{jsonPath}}"/>
    <property action="set" name="doInvert" type="BOOLEAN" value="{{doInvert}}"/>
</class>