<class name="org.wso2.apim.policies.mediation.ai.azure.content.safety.guardrail.AzureContentSafetyContentModeration">
    <property action="set" name="name" value="{{name}}"/>
    <property action="set" name="hateCategory" type="INTEGER" value="{{hateCategory}}"/>
    <property action="set" name="sexualCategory" type="INTEGER" value="{{sexualCategory}}"/>
    <property action="set" name="selfHarmCategory" type="INTEGER" value="{{selfHarmCategory}}"/>
    <property action="set" name="violenceCategory" type="INTEGER" value="{{violenceCategory}}"/>
    <property action="set" name="jsonPath" value="{{jsonPath}}"/>
    <property action="set" name="passthroughOnError" type="BOOLEAN" value="{{passthroughOnError}}"/>
    <property action="set" name="showAssessment" type="BOOLEAN" value="{{showAssessment}}"/>
</class>