<class name="org.wso2.apim.policies.mediation.ai.url.guardrail.URLGuardrail">
    <property action="set" name="name" value="{{name}}"/>
    <property action="set" name="jsonPath" value="{{jsonPath}}"/>
    <property action="set" name="timeout" type="INTEGER" value="{{timeout}}"/>
    <property action="set" name="onlyDNS" type="BOOLEAN" value="{{onlyDNS}}"/>
    <property action="set" name="showAssessment" type="BOOLEAN" value="{{showAssessment}}"/>
</class>