<class name="org.wso2.apim.policies.mediation.ai.prompt.decorator.PromptDecorator">
    <property action="set" name="name" value="{{name}}"/>
    <property action="set" name="promptDecoratorConfig" value="{{promptDecoratorConfig}}"/>
    <property action="set" name="jsonPath" value="{{jsonPath}}"/>
    <property action="set" name="append" type="BOOLEAN" value="{{append}}"/>
</class>