<class name="org.wso2.apim.policies.mediation.ai.integration.guardrail.IntegrationGuardrail">
    <property action="set" name="webhookUrl" value="{{webhookUrl}}"/>
    <property action="set" name="headers" value="{{headers}}"/>
    <property action="set" name="jsonPath" value="{{jsonPath}}"/>
    <property action="set" name="timeout" type="INTEGER" value="{{timeout}}"/>
</class>