<class name="org.wso2.apim.policies.mediation.ai.semantic.model.routing.SemanticModelRouting">
	<property action="set" name="semanticModelRoutingConfigs" value="{{semanticModelRoutingConfigs}}" />
</class>
