<class name="org.wso2.apim.policies.mediation.ai.semantic.tool.filtering.SemanticToolFiltering">
    <property action="set" name="selectionMode" value="{{selectionMode}}"/>
    <property action="set" name="limit" type="INTEGER" value="{{limit}}"/>
    <property action="set" name="threshold" value="{{threshold}}"/>
    <property action="set" name="queryJSONPath" value="{{queryJSONPath}}"/>
    <property action="set" name="toolsJSONPath" value="{{toolsJSONPath}}"/>
    <property action="set" name="userQueryIsJson" type="BOOLEAN" value="{{userQueryIsJson}}"/>
    <property action="set" name="toolsIsJson" type="BOOLEAN" value="{{toolsIsJson}}"/>
</class>
