<class name="org.wso2.apim.policies.mediation.ai.semantic.cache.SemanticCache">
    <property action="set" name="threshold" value="{{threshold}}"/>
    <property action="set" name="jsonPath" value="{{jsonPath}}"/>
</class>